body{
    font-family: Rajdhani;
    margin: 0px;
    overflow: auto;
}

.motd{
    text-align: center;
    padding-top: 55px;
    color: white;
    font-size: 15px;
    background-color: #555;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    margin: 0px 20%;
    margin-bottom: 10%;
}

#subject{
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 3px;
}

#message{
    width: 100%;
    font-size: 18px;
    padding: 3px;
    resize: none;
}

.main button{
    position: absolute;
    margin-top: 20px;
    background-color: rgb(68,214,44);
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    height: 40px;
    width: 130px;
    font-size: 15px;
    cursor: pointer;
}