body{
    font-family: Rajdhani;
    margin: 0px;
    overflow: auto;
}

header{
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom-width: 2px;
    border-bottom-color: rgb(68,214,44);
    border-style: solid;
    min-width: 0px;
    height: 55px;
    z-index: 100;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100%;
    padding: 0px 10%;
}

.navbar button{
    border-width: 0px;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    color: #555;
    transition: color 0.15s, font-size 0.15s;
    cursor: pointer;
}

.nav-buttons button{
    margin: 0px 30px;
}

.navbar button:hover{
    color: white;
    font-size: 20px;
}

.icon{
    height: 50px;
}

.home-b{
    padding: 0px;
    width: 80px;
    background-color: transparent;
    border-width: 0px;
}

.cart-b{
    padding: 0px;
    width: 70px;
    height: 100%;
    background-color: transparent;
    border-width: 0px;
}

.hamb-menu{
    display: none;
}

@media (max-width: 1100px) {
    .nav-buttons, .cart-b{
        display: none;
    }
    .navbar{
        padding: 0%;
    }
    .hamb-menu{
        display: block;
        padding-right: 25px;
    }
    header{
        overflow: hidden;
    }
    header:hover{
        overflow: visible;
    }
}

.motd{
    text-align: center;
    padding-top: 55px;
    color: white;
    font-size: 15px;
    background-color: #555;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userInfo{
    position: absolute;
    margin: 80px 30%;
    height: 500px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.userInfo div{
    display: flex;
    margin-bottom: 10px;
}

.userInfo p{
    display: inline;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userInfo input{
    height: 40px;
    flex-grow: 1;
    margin-left: 20px;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 20px;
}

.userInfo button{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 40px;
    background-color: rgb(68,214,44);
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}