body{
    font-family: Rajdhani;
    margin: 0px;
    overflow: auto;
}

.motd{
    text-align: center;
    padding-top: 55px;
    color: white;
    font-size: 15px;
    background-color: #555;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userInfo{
    position: absolute;
    margin: 80px 30%;
    height: 500px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.userInfo div{
    display: flex;
    margin-bottom: 10px;
}

.userInfo p{
    display: inline;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userInfo input{
    height: 40px;
    flex-grow: 1;
    margin-left: 20px;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 20px;
}

.userInfo button{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 40px;
    background-color: rgb(68,214,44);
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}