body{
    font-family: Rajdhani;
    margin: 0px;
    overflow: auto;
}

header{
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom-width: 2px;
    border-bottom-color: rgb(68,214,44);
    border-style: solid;
    min-width: 0px;
    height: 55px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100%;
    padding: 0px 10%;
}

.navbar button{
    border-width: 0px;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    color: #555;
    transition: color 0.15s, font-size 0.15s;
    cursor: pointer;
}

.nav-buttons button{
    margin: 0px 30px;
}

.navbar button:hover{
    color: white;
    font-size: 20px;
}

.icon{
    height: 50px;
}

.home-b{
    padding: 0px;
    width: 80px;
    background-color: transparent;
    border-width: 0px;
}

.cart-b{
    padding: 0px;
    width: 70px;
    height: 100%;
    background-color: transparent;
    border-width: 0px;
}

.hamb-menu{
    display: none;
}

@media (max-width: 1100px) {
    .nav-buttons, .cart-b{
        display: none;
    }
    .navbar{
        padding: 0%;
    }
    .hamb-menu{
        display: block;
        padding-right: 25px;
    }
    header{
        overflow: hidden;
    }
    header:hover{
        overflow: visible;
    }
}

.motd{
    text-align: center;
    padding-top: 55px;
    color: white;
    font-size: 15px;
    background-color: #555;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-ad{
    background-image: url("/assets/home/homead.jpg");
    height: 370px;
    width: 100%;
    background-size: cover;
    background-position-y: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 65px;
    color: white;
    font-size: 90px;
    -webkit-text-stroke: 4px;
    -webkit-text-stroke-color: black;
}

.home-ad-msg{
    text-align: center;
    margin: 0px 0px 95px 0px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    -webkit-text-stroke: 0px;
    -webkit-text-stroke-color: black;
}

.products-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.products-menu-cat{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-bottom: 35px;
}

@media (max-width: 1500px) {
    .products-menu-cat{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .products-menu-cat{
        grid-template-columns: 1fr ;
    }
}

.product-b{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 280px;
    margin: 0px 5px;
    background-color: transparent;
    border-width: 0px;
    cursor: pointer;
    font-size: 23px;
}

.product-b p{
    transition: color 0.15s;
}

.product-b:hover p{
    text-decoration: underline;
    color: red;
}

.button-t{
    margin-top: 30px;
}

.best-sellers{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    background-color: black;
    height: fit-content;
}

h3{
    margin-top: 60px;
    color: white;
    font-size: 40px;
    margin-bottom: 60px;
}

.best-seller-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 120px;
}

@media (max-width: 1650px) {
    .best-seller-products{
        grid-template-columns: 1fr;
        padding: 0px;
    }

    .best-seller-products button{
        grid-template-columns: 1fr;
        padding: 0px;
        margin: 0px;
    }
}

.best-seller-products button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 430px;
    width: 430px;
    margin: 0px 7px;
    background-color: white;
    border-width: 0px;
    cursor: pointer;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.best-seller-products button img{
    height: 80%;
    margin-top: 0px;
    overflow: hidden;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.best-seller-products button p{
    margin-top: 0px;
    font-size: 26px;
    text-align: center;
    transition: font-size 0.2s;
    white-space: normal;
    word-break: break-all;
}

.best-seller-products button:hover p{
    margin-top: 0px;
    font-size: 46px;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}