body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header{
    background-color: black;
    margin-top: -10px;
    display: flex;
    height: 70px;
    width: 100%;
    position: fixed;
    border-bottom-width: 2px;
    border-bottom-color: rgb(68,214,44);
    border-style: solid;
}

.icon{
    margin-top: 10px;
    height: 50px;
}

.home-b{
    margin-left: 200px;
    width: 80px;
    background-color: transparent;
    border-width: 0px;
}

.motd{
    text-align: center;
    padding-top: 63px;
    color: white;
    font-size: 15px;
    background-color: #555;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-ad{
    background-image: url("/assets/home/homeadddd.jpg");
    height: 370px;
    width: 100%;
    background-size: cover;
    background-position-y: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 65px;
    color: white;
    font-size: 90px;
    -webkit-text-stroke: 4px;
    -webkit-text-stroke-color: black;
}

.home-ad-msg{
    text-align: center;
    margin: 0px 0px 95px 0px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    -webkit-text-stroke: 0px;
    -webkit-text-stroke-color: black;
}

.products-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
}

.products-menu-cat{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.product-b{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 280px;
    margin: 0px 5px;
    background-color: transparent;
    border-width: 0px;
    cursor: pointer;
    font-size: 23px;
}

.product-b p{
    transition: color 0.15s;
}

.product-b:hover p{
    text-decoration: underline;
    color: red;
}

.button-t{
    margin-top: 30px;
}

.best-sellers{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    background-color: black;
    height: 700px;
}

h3{
    margin-top: 60px;
    color: white;
    font-size: 40px;
    margin-bottom: 60px;
}

.best-seller-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.best-seller-products button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 430px;
    width: 430px;
    margin: 0px 55px;
    background-color: white;
    border-width: 0px;
    cursor: pointer;
}

.best-seller-products button img{
    height: 80%;
    margin-top: 0px;
    overflow: hidden;
}

.best-seller-products button p{
    margin-top: 0px;
    font-size: 26px;
    text-align: center;
    transition: font-size 0.2s;
}

.best-seller-products button:hover p{
    margin-top: 0px;
    font-size: 46px;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}