body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin-top: 40px;
    font-size: 50px;
    height: 20px;
    text-align: center;
    padding-bottom: 50px;
}

.login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    border-width: 1px;
    border-color: rgb(71, 255, 12);
    border-style: solid;
    height: 550px;
    width: 400px;
    margin-top: 150px;
    backdrop-filter: blur(10px);
    box-shadow: 30px 40px 50px rgb(0, 38, 255);
}

.register-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    border-width: 1px;
    border-color: rgb(71, 255, 12);
    border-style: solid;
    height: 600px;
    width: 400px;
    margin-top: 150px;
    backdrop-filter: blur(10px);
    box-shadow: 30px 40px 50px rgb(0, 38, 255);
}

.input-box{
    margin-bottom: 10px;
}

.input-box input{
    font-weight: bold;
    font-size: 16px;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    padding-left: 22px;
    transition: border-color 0.2s, border-width 0.10s;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    color: white;
}

.input-box input:hover{
    border-width: 3px;
    border-style: solid;
    border-color: rgb(71, 255, 12);
}

.input-box input::placeholder{
    color: white;
}

.show-password{
    margin-left: 185px;
}

.login-b{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    height: 60px;
    width: 320px;
    border-radius: 30px;
    border-width: 0px;
    font-size: 16px;
    font-weight: bold;
    transition: border-width 0.1s, border-color 0.2s;
}

.login-b:hover{
    background-color: white;
    border: 3px solid rgb(71, 255, 12);
    cursor: pointer;
}

.login-b:active{
    background-color: rgb(218, 218, 218);
    border: 3px solid rgb(71, 255, 12);
}

.regist{
    margin-top: 10px;
}

.reg-b{
    margin-left: 10px; 
    font-weight: bold;
    display: inline-block;
}

.reg-b:hover{
    text-decoration: underline;
    cursor: pointer;
}

a:visited{
    color:white;
    text-decoration: none;
}