body{
    font-family: Rajdhani;
    margin: 0px;
    overflow: auto;
}

.motd{
    text-align: center;
    padding-top: 55px;
    color: white;
    font-size: 15px;
    background-color: #555;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    margin: 0px 20%;
    margin-bottom: 10%;
}

.main li{
    list-style-type: none;
    height: fit-content;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #555;
}

h2{
    margin-top: 0px;
}