body{
    font-family: Rajdhani;
    margin: 0px;
    overflow: auto;
}

header{
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom-width: 2px;
    border-bottom-color: rgb(68,214,44);
    border-style: solid;
    min-width: 0px;
    height: 55px;
    z-index: 100;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100%;
    padding: 0px 10%;
}

.navbar button{
    border-width: 0px;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    color: #555;
    transition: color 0.15s, font-size 0.15s;
    cursor: pointer;
}

.nav-buttons button{
    margin: 0px 30px;
}

.navbar button:hover{
    color: white;
    font-size: 20px;
}

.icon{
    height: 50px;
}

.home-b{
    padding: 0px;
    width: 80px;
    background-color: transparent;
    border-width: 0px;
}

.cart-b{
    padding: 0px;
    width: 70px;
    height: 100%;
    background-color: transparent;
    border-width: 0px;
}

.hamb-menu{
    display: none;
}

@media (max-width: 1100px) {
    .nav-buttons, .cart-b{
        display: none;
    }
    .navbar{
        padding: 0%;
    }
    .hamb-menu{
        display: block;
        padding-right: 25px;
    }
    header{
        overflow: hidden;
    }
    header:hover{
        overflow: visible;
    }
}

.motd{
    text-align: center;
    padding-top: 55px;
    color: white;
    font-size: 15px;
    background-color: #555;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-ad{
    background-image: url("/assets/home/homead.jpg");
    height: 370px;
    width: 100%;
    background-size: cover;
    background-position-y: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 65px;
    color: white;
    font-size: 90px;
    -webkit-text-stroke: 4px;
    -webkit-text-stroke-color: black;
}

.home-ad-msg{
    text-align: center;
    margin: 0px 0px 95px 0px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    -webkit-text-stroke: 0px;
    -webkit-text-stroke-color: black;
}

.items-grid{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    padding: 50px 20%;
}

.item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
    width: 350px;
    margin: 30px 10px;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: #5555559f;
}

.item img{
    width: 80%;
    margin-top: 10px;
}

.item p{
    text-align: center;
}

#name{
    font-size: 35px;
    margin: 10px 20px;
    white-space: normal;
    word-break: keep-all;
    font-weight: bold;
}

#price{
    font-size: 35px;
    font-weight: bold;
    color: red;
    margin-bottom: 100px;
    margin-top: 10px;
}

.buttons{
    background-color: white;
    position: absolute;
    bottom: 20px;
    height: 60px;
    width: 80%;
}

.buttons button{
    height: 100%;
    background-color: rgb(68,214,44);
    border-width: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    transition: font-size 0.2s, border-color 0.2s;
}

#more-b{
    width: 75%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 0.9px;
    -webkit-text-stroke-color: black;
}

#more-b:hover{
    font-size: 25px;
    border-color: black;
}

#add-b{
    position: absolute;
    right: 0;
    width: 25%;
    background-color: black;
}

#add-b:hover{
    border-color: black;
}

#add-b:hover img{
    width: 100%;
    height: 100%;
}

#add-b img{
    width: 80%;
    height: 80%;
    margin: 0px;
    object-fit: cover;
    transition: width 0.2s, height 0.2s;
}

@media (max-width: 1874px) {
    .items-grid{
        padding: 50px 10%;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .items-grid{
        padding: 50px 5%;
        justify-content: center;
    }
}